@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

/*--------------------CSS RESET-------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
    background-color: #fafafa;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
    overflow-x:hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 225%;
  
}

h2 {
    font-size: 175%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Grandstander", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  
}

p {
    font-size: 125%;
}

/*--------------------BUTTONS-------------------*/

.button--primary {
  background-color: #b36b39;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 10px 8px 15px #888888;
  opacity: 0.9;
}

.button--primary:hover {
  opacity: 1;
  color: #fff;
}

.button--secondary {
  background-color: #807f3c;
  color: #fff;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0.9;
  padding: 8px 30px;
  box-shadow: 10px 8px 15px #888888;
}

.button--secondary:hover {
  opacity: 1;
  color: #fff;
}

.newsletter-btn {
  background: #807f3c;
  color: #fff;
  border: none;
  padding: 12px 35px;
}

/*--------------------HORIZONTAL RULE-------------------*/

.horizontal-rule {
  width: 5%;
  height: 3px;
  background: black;
}

.horizontal-rule--small {
  width: 15%;
  height: 2px;
  background: #fff;
  margin-left: 0;
}

.bottom-space-lg {
    margin-bottom: 65px;
}

.bottom-space-sm {
  margin-bottom: 20px;
}

/*--------------------NAVBAR-------------------*/

.navbar {
  height: fit-content;
  padding: 0 16px;
  width: 100%;
  background: #96abb0;
  z-index: 10;
}

.navbar-brand img {
  max-height: 125px;
}

.nav-link {
  color: #fff !important;
  position: relative;
  font-size: 120%;
}

.navbar-collapse {
    align-items: flex-end;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.38s ease-in-out 0.05s;
  -moz-transition: all 0.38s ease-in-out 0.05s;
  -webkit-transition: all 0.38s ease-in-out 0.05s;
  -o-transition: all 0.38s ease-in-out 0.05s;
}

.nav-link:hover::before {
  color: #fff;
  visibility: visible;
  transform: scaleX(1);
}

.nav-link:hover {
  color: #fff;
}

.form-inline a {
    box-shadow: none;
    background: #46433e;
}

.dropdown-menu.show {
  background: #46433e;
}

.dropdown-item {
  color: #fff;
}

.hide--item--col--lg {
  display: none;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
}

.social-icons--mobile {
  display: none;
}

.breadcrumb {
  margin: 0;
  padding: 35px;
  background: #f2f2f2;
}

.breadcrumb-item a {
  text-decoration: none;
  color: black;
}

/*----------------------FOOTER SECTION---------------*/

.footer-wrapper {
  background: #46433e;
  color: #fff;
  padding: 60px 80px;
}

.footer-wrapper h2 {
  padding-bottom: 8px;
}

.footer-wrapper p {
  font-size: 1.1em;
padding: 5px 0;

}

.footer-wrapper i {
  padding-right: 10px;
  padding-bottom: 10px;
}

.footer-wrapper a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 10px;
  display: block;
}


/*--------------------COPYRIGHT SECTION-------------------*/

.copyright-bar {
  color: black;
  height: 40px;
  text-align: center;
  background: #b36b39;
}

.copyright-bar p {
  padding-top: 10px;
  font-size: 100%;
  color: #fff;
}

.icons-wrapper ul {
  width: 100%;
  text-align: right;
  padding-top: 2%;
}
.icons-wrapper ul li {
  display: inline-block;
}

.icons-wrapper i {
  font-size: 1.5em;
  padding-right: 15px;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.icons-wrapper i:hover {
  color: #807f3c;
}

/*------------------------------------------HOMEPAGE STYLING START------------------------*/

/*--------------------HEADER SECTION-------------------*/

.header-wrapper {
  background-color: #f2f2f2;
}

.header--title {
  font-weight: 700;
  font-size: 250%;
  padding-bottom: 25px;
}

.header--intro {
  padding-bottom: 25px;
  font-size: 20px;
}

.header--part--one {
  margin-top: 125px;
  position: relative;
}

.header--part--two {
  z-index: 5;
}

.header--part--two img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 45px;
  left: 10px;
}

/*------------------SERVICE SECTION----------------------*/

.service--wrapper h2 {
  font-weight: 600;
  padding-top: 25px;
}

.service--box--one,
.service--box--two,
.service--box--three {
  height: 350px;
  text-align: center;
  padding: 40px 25px;
  box-shadow: 1px 8px 25px #888888;
}

.service--box--one,
.service--box--three {
  background-color: #fafafa;
}

.service--box--two {
  background: #807f3c;
}

.services-cta {
  text-decoration: none !important;
  display: inline-block;
  margin-top: 8%;
  border-radius: 0.25rem;
  background: #46433e;
  box-shadow: none;
  padding: 15px 25px;
}

/*------------------FACTS SECTION---------------*/

.facts-wrapper {
  height: max-content;
  width: 90%;
  margin: 150px auto;
}

.facts-wrapper h1 {
  text-align: center;
}

.facts-wrapper h2 {
  padding-top: 10px;

}

.facts-wrapper img {
  width: 48px;
  height: 48px;
}

.facts-first--row,
.facts-second--row {
  margin-top: 65px;
}

.facts-wrapper p {
  width: 80%;
  padding-top: 15px;
}

.fa-heart {
  color: #cd2e26;
}

.fa-ruler-vertical {
  color: #bf6e2c;
}

.fa-question-circle {
  color: #a6a552;
}

/*--------------------WHY CHOOSE US SECTION-------------------*/


.accredations-wrapper {
    background: url("../assets/images/dog-paws-background.png") repeat-x bottom;
    height: 950px;
    
}

.accredations-wrapper h1 {
    text-align: center;
}

.accredations-wrapper p:nth-child(1) {
    font-size: 150%;
}

.accredations-wrapper p:nth-child(1) {
    width: 75%;
    text-align: center;
    margin: auto;
    line-height: 25px;
}

.flip-box-container {
    display: flex;
    margin: 100px auto 150px auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}


.flip-box {
    width: 24%;
    height: 450px;
    perspective: 1000px;
    background: transparent;

}


.flip-box-inner {
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.95s;
    background: #fafafa;
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 8px 5px 15px #96abb0;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front img {
    margin-bottom: 35px;
    max-width: 100%;
    height: auto;
}

.mobile-icon {
    display: none;
}

.flip-box-back {
    transform: rotateY(180deg);
    background: #fafafa;
}

.flip-box-back p {
    padding: 5%;
}

.flip-box-back span {
    font-weight: 600;
}



/*--------------------GALLERY SECTION-------------------*/
.gallery-wrapper {
    margin: 100px 0 150px 0;
    text-align: center;
}

.gallery-wrapper h1 {
  text-align: center;
}

.gallery-wrapper img {
height: auto;
max-width: 100%;
}

.gallery-carousel .carousel-indicators {
    bottom: -25px;
}

.gallery-carousel .carousel-item {
    padding: 0;
}

/*----------------------NEWSLETTER SECTION---------------*/
.newsletter-wrapper {
  text-align: center;
  height: auto;
  background-color: #96abb0;
  padding: 4%;
  margin-top: 100px;
  color: #fff;
}

.newsletter-wrapper h1 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.newsletter-wrapper p {
  padding-bottom: 15px;
}

.newsletter-wrapper input {
  width: 50%;
  height: 40px;
  line-height: 42px;
}

/*--------------------------------------HOMEPAGE STYLING END-----------------------------*/

/*--------------------------------------ABOUT US PAGE STYLING START-----------------------------*/

/*----------------------PARALLAX SECTIONS---------------*/

.about-us-parallax i {
  padding-bottom: 3%;
}

.about-us-parallax h2 {
  font-size: 200%;
}

.about-us-parallax p {
  font-size: 125%;
}

.parallax-one {
  background: url("../assets/images/our-story-parallax.png") no-repeat fixed
    center;
  background-size: cover;
background-position: top;
  height: 57vh;
}

.parallax-two {
  background: url("../assets/images/our-mission-parallax.png") no-repeat fixed
    center;
  background-size: cover;
  height: 57vh;
}

.parallax-three {
  background: url("../assets/images/our-team-parallax.png") no-repeat fixed
    center;
  background-size: cover;
  height: 57vh;
}

.about-content {
  text-align: center;
  background: #46433e;
  color: #fff;
  padding: 10%;
}

.team-members--cards {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.team-card {
  width: min-content;
  color: #000;
  position: relative;
  margin: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.team-card:hover {
  transform: scale(1.05);
}

.team-card img {
  height: 650px;
}

/*----------------------TESTIMONIALS CAROUSEL---------------*/

.testimonials-section > h1 {
  text-align: center;
  font-size: 200%;
  margin-top: 150px;
}

.testimonials-carousel {
  height: auto;
  text-align: center;
  padding: 50px 25px;
}

.testimonials-carousel img {
  border-radius: 50%;
  margin-bottom: 25px;
}

.carousel-item {
  padding: 0 30%;
}

.carousel-inner h1 {
  font-size: 150%;
  padding-bottom: 10px;
}

.carousel-inner p {
  font-size: 125%;
  padding-bottom: 5%;
}

.carousel-indicators li {
  background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #000;
  background: none;
}



/*--------------------------------------ABOUT US PAGE STYLING END-----------------------------*/

/*--------------------------------------CONTACT US PAGE STYLING START-----------------------------*/

.contact-us--section {
  margin-top: 100px;
}

.contact-us--section h3 {
  font-size: 125%;
  margin-bottom: 10%;
}

.contact-us--section h3 u {
  color: #807f3c;
}

.mobile-title--section {
  display: none;
}

.address-section hr {
  background: #000;
  width: 25%;
}

.address-section--mobile {
  display: none;
}

.contact-us--section i {
  margin-top: 10%;
  padding-right: 4%;
  color: #46433e;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.contact-us--section i:hover {
  color: #b36b39;
}

.contact-title {
  font-size: 200%;
}

.contact-us--section h2 {
  font-size: 175%;
  padding-bottom: 5%;
}

.contact-us--section p {
  font-size: 120%;
}

.contact--reservation {
  display: none;
}

label {
  display: block;
}

input {
  padding: 12px;
  width: 45%;
}

textarea {
  width: 90%;
  max-height: 300px;
}

legend {
  padding: 0 0 2% 0;
  font-size: 125%;
}

legend:nth-child(even) {
  padding-top: 2%;
}

input:nth-child(5),
input:nth-child(7) {
  width: 90%;
}

input:last-child {
  display: block;
  margin-top: 2%;
  background: #96abb0;
  border: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

input:last-child:hover {
  background: #b36b39;
}


/*--------------------------------------CONTACT US PAGE STYLING END-----------------------------*/

/*--------------------------------------SERVICES PAGE STYLING START-----------------------------*/

.puppy-hero-img--mobile {
  display: none;
}

#private-session--wrapper,
#day-school--wrapper {
  text-align: center;
  margin-top: 100px;
}

.service-content--wrapper {
  width: 80%;
  margin: 0 auto;
}

.service-content--wrapper p {
  font-size: 140%;
}

.service-content--wrapper ul {
  text-align: left;
  margin-top: 75px;
  list-style: circle;
}

.service-content--wrapper li {
  padding: 3px 0;
  font-size: 110%;
}

.text-separator {
  border-top: 1px solid #eaeaea;
  margin-top: 100px;
  border-bottom: 0;
}

.text-separator div {
  padding: 0 35px;
  line-height: 36px;
  top: -20px;
  font-size: 125%;
  color: #fff;
  font-weight: 700;
  background-color: #46433e;
  border-radius: 2px;
  border: 1px solid transparent;
  display: inline-block;
  position: relative;
}

.pricing-cards {
  margin-top: 50px;
}

.pricing-card {
  width: 350px;
  height: 550px;
  display: inline-block;
  border: 1px solid #eaeaea;
  margin-top: 25px;
}

.top-part {
  padding: 15% 10%;
  color: #fff;
  background-color: #807f3c;
  background-image: linear-gradient(#ce6d22, #1690ab);
}

.top-part h1 {
  padding-bottom: 5%;
}

.top-part span {
  font-size: 125%;
  position: relative;
  bottom: 20px;
}

.top-part p {
  display: inline-block;
  padding: 10% 0 15% 0;
  font-size: 300%;
}

.top-part .btn {
  display: block;
  background: #46433e;
  box-shadow: none;
}

.bottom-part ul {
  list-style-type: none;
  padding: 14%;
  margin: 0;
}

.bottom-part li {
  margin: 10px;
}

.bottom-part li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f1b0";
  font-weight: 900;
  padding-right: 5px;
}

.service-images--wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(2, 450px);
  grid-template-areas:
    "img-one img-three"
    "img-two img-three";
  grid-gap: 20px;
  justify-content: center;
}

.service-images--wrapper img {
    max-width: 100%;
}

.img-one {
  grid-area: img-one;
}

.img-two {
  grid-area: img-two;
]
}

.img-three {
  grid-area: img-three;

}

/*--------------------------------------SERVICES PAGE STYLING END-----------------------------*/

/*--------------------MEDIA QUERY-------------------*/

@media only screen and (max-width: 400px) {
  .service--wrapper .fa-4x {
    font-size: 3em;
  }

  .service--wrapper img {
    height: 48px;
  }

  .service--wrapper i {
    font-size: 48px;
  }

  .header--part--two img {
    max-width: 120%;
    left: 0;
    right: 25px;
  }

  .gallery-wrapper img:nth-child(11),
  .gallery-wrapper img:nth-child(10) {
    display: none;
  }

  .our-story--section,
  .our-mission--section,
  .our-team--section {
    padding: 150px 5%;
  }

  .about-us-parallax h2 {
    font-size: 175%;
  }

  .about-us-parallax p {
    font-size: 120%;
  }

  .team-members--cards {
    width: 100%;
  }

  .team-card img {
    height: 400px;
  }

  .team-card h1 {
    font-size: 120%;
  }

  .testimonials-section > h1 {
    font-size: 175%;
  }

  .carousel-inner p {
    font-size: 100%;
  }

  .newsletter-wrapper h1 {
    font-size: 1.35em;
  }

  .flip-box-back p {
      padding: 5%;
  }
}

@media only screen and (max-width: 575px) {

 h1 {
     font-size: 175%;
 }

  .form-inline {
    display: inline-block !important;
  }

  .header--part--one .button--secondary {
    display: none;
  }

  .navbar {

    border-bottom: 3px white solid;
    position: sticky;
    top: 0;
  }

  .navbar-brand {
    padding-bottom: 0;
  }

  .navbar-collapse.collapse.show {
    height: 100vh;
    text-align: center;
    padding: 120px 20px 0 20px;
    border-top: 2px solid #fff;
  }

  .nav-link {
    font-size: 150%;
  }

  .nav-link:hover {
    color: #fff;
  }

  .social-icons--mobile {
    display: block;
  }

  .social-icons--mobile i {
    padding: 25px;
    color: #fff;
    margin: 0 auto;
  }


  .hide--item--col--lg {
    display: block;
  }

  .dropdown-menu.show {
    text-align: center;
    background: none;
    border: none;
  }

  .dropdown-item {
    color: #fff;
    font-size: 110%;
  }

  .dropdown-item:hover {
    background-color: transparent;
    color: #fff;
  }

  .breadcrumb {
      padding: 20px;
      font-size: 80%;
  }

  .button--secondary {
    padding: 15px 30px;
  }

  .header--part--one {
    margin-top: 60px;
    text-align: center;
  }

  .header--title {
    font-size: 2rem !important;
    padding-top: 25px;
  }

  .header--intro {
    font-size: 1.25em !important;
  }

  .facts-second--row {
    margin-top: 15px;
  }

  .padding-around {
    padding: 20px;
  }

  .newsletter-wrapper input {
    width: 60%;
    height: 35px;
  }

  .newsletter-btn {
    padding: 9px 15px;
  }

  .newsletter-wrapper h1 {
    margin-top: 15px;
  }

  .newsletter-wrapper p {
    font-size: 90%;
  }

  .footer-wrapper {
    text-align: center;
  }

  .horizontal-rule--small {
    margin: 5px auto 25px auto;
  }
  .mobile-title--section .horizontal-rule--small {
    margin: 20px 0 25px 0;
    width: 30%;
    background: #000;
  }


  .form-section legend {
    font-size: 100%;
  }

  .input {
    padding: 10px;
  }

  .contact-title {
    font-size: 170%;
  }

  .story-footer--container {
    margin-top: 5%;
  }

  .icons-wrapper ul {
    text-align: center;
    margin-top: 3%;
  }

  .parallax-one,
  .parallax-two,
  .parallax-three {
    height: 45vh;
  }

  .service-content--wrapper p {
    font-size: 125%;
  }

  .top-part h1 {
    font-size: 175%;
    padding-bottom: 5%;
  }

  .top-part span {
    font-size: 125%;
    position: relative;
    bottom: 20px;
  }

  .top-part p {
    display: inline-block;
    padding: 10% 0 15% 0;
    font-size: 250%;
  }

  .bottom-part ul {
    padding: 10%;
  }

  .pricing-card {
      width: 280px;
  }

   .service-images--wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img-three";
    grid-gap: 0;
  }

  .flip-box-inner {
      transform: rotateY(180deg);
  }

  .mobile-icon {
    display: inline-block;
    position: relative;
    bottom: 30px;
    width: 100px;

}

}

@media only screen and (max-width: 695px) {
  .button--primary {
    margin-right: 30px;
  }

  .services-cta {
    margin-right: 0;
  }
  .facts-wrapper {
    text-align: -webkit-center;
  }

  .address-section {
    display: none;
  }

  .address-section--mobile {
    display: block;
    margin-top: 50px;
  }

  .address-section--mobile i {
    display: none;
  }

  .mobile-title--section {
    display: block;
  }

  .flip-box-container {
      background: url("../assets/images/dog-paws-background.png") bottom;
      background-repeat-x: no-repeat;
  }
}

@media only screen and (max-width: 768px) {
  .nav-link:hover::before {
    color: #000;
    visibility: hidden;
    transform: scaleX(1);
  }

  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar-brand {
    margin-left: 16px;
  }

  .navbar-toggler {
    margin-right: 16px;
  }

  .header--part--one.offset-1 {
    margin-left: 0;
  }

  .header--part--one .btn {
    margin-top: 25px;
  }

  .header--part--one {
    text-align: center;
  }

  .header--part--two img {
    top: 30px;
  }

  .gallery-wrapper img {
    width: 150px !important;
    height: 300px !important;
  }

  .service-footer--container {
    margin-top: 5%;
  }

  .carousel-item {
    padding: 0 10%;
  }

  .puppy-hero--img {
    display: none;
  }

  .puppy-hero-img--mobile {
    display: block;
  }
}

@media only screen and (max-width: 992px) {

.header--part--two img {
    max-width: 120%;
    left: -30px;
}


  .service--box--one {
    margin-bottom: 30px;
  }

  .contact--reservation {
    display: inline-block;
    padding: 10px 7px !important;
  }

  .service--box--one,
  .service--box--two,
  .service--box--three {
    padding: 40px;
    margin-bottom: 20px;
  }

  .footer-wrapper {
    padding: 50px 10px;
    font-size: calc(100% - 1px);
  }

  .form-inline {
    display: none;
  }

  .header--part--one .button--secondary {
    margin-top: 25px;
  }

  .our-story--section,
  .our-mission--section,
  .our-team--section {
    padding: 150px 15%;
  }

  .service-content--wrapper {
    width: 90%;
    margin: 50px auto 0 auto;
}

.accredations-wrapper {
    height: max-content;
}

.flip-box-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.flip-box {
    width: 300px;
    margin: 15px;
}
}

@media only screen and (min-width: 954px) {
  .header--part--one .button--secondary {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .button--secondary,
  .button--primary {
    padding: 5px 20px;
  }

  .services-cta {
    padding: 10px 25px;
  }

  .header--part--one {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .header--title {
    font-size: 2.25rem;
  }
  .header--intro {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1350px) {
  .gallery-wrapper img {
    width: 250px;
    height: 450px;
  }

  .service-images--wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  .parallax-one,
  .parallax-two,
  .parallax-three {
    height: 70vh;
  }

  .our-story--section,
  .our-mission--section,
  .our-team--section {
    padding: 150px 25%;
  }
}
