@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/*--------------------CSS RESET-------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.wrapper {
  background: url("../assets/images/hero-background-image.png") no-repeat center center;
  background-size: cover;
  height: 1100px;
}

/*--------------------NAVBAR-------------------*/

.navbar {
  height: 100px;
  padding: 0 16;
  width: 100%;
  background: #96ABB0;

}

.navbar-brand img {
  max-width: 100%;
  max-height: 150px;
}

.nav-link {
  color: #fff !important;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.38s ease-in-out 0.05s;
}

.nav-link:hover::before {
  color: #fff;
  visibility: visible;
  transform: scaleX(1);
}

.nav-link:hover {
  color: #fff;
}

.nav-item {
  padding-left: 10px;
}

.hide--item--col--lg {
  display: none;
}

.navbar-light .navbar-toggler {
  border-color: #b36b39;
}
/*--------------------HEADER SECTION-------------------*/

.header--part--one {
  margin-top: 135px;
  position: relative;
}

.header--title {
  font-weight: 700;
  font-size: 2.5em;
  padding-bottom: 25px;
}

.header--intro {
  padding-bottom: 25px;
  font-size: 20px;
}

.header--part--two:nth-child(2) {
     display: none;
  }
/*------------------SERVICE SECTION----------------------*/

.service--wrapper {
  width: 70%;
  margin: 0 auto;
  height: 450px;
  position: relative;
  top: 100px;
}

.service--box--one,
.service--box--two {
  height: 200px;
  text-align: center;
  border: 1px solid #96abb0;
}

.service--box--one img,
.service--box--two img {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
}

.service--box--one a,
.service--box--two a {
  padding-top: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.right-arrow--icon {
  font-size: 40px;
  vertical-align: sub;
  padding-left: 10px;
}

/*--------------------BUTTONS-------------------*/

.button--primary {
  background-color: #b36b39;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0.9;
}

.button--primary:hover {
  opacity: 1;
  color: #fff;
}

.button--secondary {
  background-color: #807f3c;
  color: #fff;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0.9;
  padding: 8px 30px;
}

.button--secondary:hover {
  opacity: 1;
  color: #fff;
}

/*--------------------MEDIA QUERY-------------------*/

@media only screen and (max-width: 575px) {
  .form-inline {
    display: inline-block !important;
  }

  .header--part--one .button--secondary {
    display: none;
  }

  .navbar {
    background-color: #96abb0;
    border-bottom: 3px white solid;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .navbar-brand {
    padding-bottom: 0;
  }

  .navbar-brand img {
    height: 90px;
  }

  .navbar-collapse.collapse.show {
    background-color: #96abb0;
    height: 100vh;
    text-align: center;
    padding: 120px 20px 0 20px;
  }

  .nav-link:hover {
      color: #fff;
  }

  .hide--item--col--lg {
    display: block;
  }

  .nav-item.dropdown {
    display: none;
  }

  .header--part--one {
    margin-top: 60px;
    text-align: center;
  }

  .header--title {
      font-size: 1.5em;
  }

  .header--intro {
      font-size: 1em;
  }

  .header--part--two:nth-child(1) {
      display: none;
    
  }

  .header--part--two:nth-child(2) {
     display: block;
  }


}

@media only screen and (max-width: 695px) {
  .form-inline {
    display: none;
  }

  .header--part--two img {
      position: relative;
      top: 50px;
  }
}

@media only screen and (min-width: 696px) {
  .header--part--one .button--secondary {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-link:hover::before {
    color: #000;
    visibility: hidden;
    transform: scaleX(1);
  }


  .header--part--one.offset-1 {
    margin-left: 0;
  }

  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar-brand {
    margin-left: 16px;
  }

  .navbar-toggler {
    margin-right: 16px;
  }

  .header--part--one .btn {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 992px) {
  .service--box--one {
    margin-bottom: 30px;
  }
}
