@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Kalam:wght@300;400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*--------------------CSS RESET-------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Grandstander", sans-serif;
  font-weight: 500;
}


/*--------------------BUTTONS-------------------*/

.button--primary {
  background-color: #b36b39;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 10px 8px 15px #888888;
  opacity: 0.9;
}

.button--primary:hover {
  opacity: 1;
  color: #fff;
}

.button--secondary {
  background-color: #807f3c;
  color: #fff;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0.9;
  padding: 8px 30px;
  box-shadow: 10px 8px 15px #888888;
}

.button--secondary:hover {
  opacity: 1;
  color: #fff;
}

.newsletter-btn {
  background: #807f3c;
  color: #fff;
  border: none;
  padding: 12px 20px;
}

/*--------------------HORIZONTAL RULE-------------------*/

.horizontal-rule {
  width: 10%;
  height: 3px;
  background: black;
}

.horizontal-rule--small {
    width: 15%;
    height: 2px;
    background: #fff;
    margin-left: 0
}


/*--------------------NAVBAR-------------------*/

.navbar {
  height: 100px;
  padding: 0 16;
  width: 100%;
  background: #96abb0;
  z-index: 10;
}

.navbar-brand img {
  max-width: 100%;
  max-height: 150px;
}

.nav-link {
  color: #fff !important;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.38s ease-in-out 0.05s;
}

.nav-link:hover::before {
  color: #fff;
  visibility: visible;
  transform: scaleX(1);
}

.nav-link:hover {
  color: #fff;
}

.nav-item {
  padding-left: 10px;
}

.dropdown-menu.show {
    background: #46433e;
 
}

.dropdown-item {
    color: #fff;
}

.hide--item--col--lg {
  display: none;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
}

.social-icons--mobile {
  display: none;
}

/*----------------------FOOTER SECTION---------------*/

.footer-wrapper {
  background: #46433e;
  color: #fff;
  padding: 60px 80px;
}

.footer-wrapper h2 {
  font-size: 1.4em;
  padding-bottom: 8px;
}

.footer-wrapper p {
  font-size: 1.1em;

}

.footer-wrapper i {
  padding-right: 10px;
  padding-bottom: 10px;
}

.footer-wrapper a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 10px;
  display: block;
}

.footer-wrapper a span {
  padding-left: 8px;
  font-size: 150%;
}

.bottom-space {
    margin-bottom: 20px;
}
/*--------------------COPYRIGHT SECTION-------------------*/

.copyright-bar {
   
    color: black;
    height: 40px;
    text-align: center;
    background: #B36B39;

}

.copyright-bar p {
    padding: 10px;
    font-size: 100%;
    color: #fff;
}

.icons-wrapper ul {
    width: 100%;
    text-align: right;
    padding-top: 2%;
}
.icons-wrapper ul li {
    display: inline-block;
}

.icons-wrapper i {
    font-size: 1.5em;
    padding-right: 15px;
     transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.icons-wrapper i:hover {
    color: #807f3c;
}

/*------------------------------------------HOMEPAGE STYLING START------------------------*/


/*--------------------HEADER SECTION-------------------*/

.header-wrapper {
  background-color: #f2f2f2;
}

.header--title {
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 25px;
}

.header--intro {
  padding-bottom: 25px;
  font-size: 20px;
}

.header--part--one {
  margin-top: 125px;
  position: relative;
}

.header--part--two {
  z-index: 5;
}

.header--part--two img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 45px;
  left: 10px;
}

/*------------------SERVICE SECTION----------------------*/

.service--wrapper h1 {
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 25px;
}

.service--box--one,
.service--box--two,
.service--box--three {
  height: 300px;
  text-align: center;
  padding: 45px;
  box-shadow: 1px 8px 25px #888888;
}

.service--box--one,
.service--box--three {
  background-color: #fafafa;
}

.service--box--two {
  background: #807f3c;
}

.services-cta {
    text-decoration: none !important;
    display: inline-block;
    margin-top: 8%;
    border-radius: .25rem;
    background: #46433e;
    box-shadow: none;
}

/*------------------FACTS SECTION---------------*/

.facts-wrapper {
  height: max-content;
  margin-top: 100px;
  width: 90%;
  margin: 100px auto;
}

.facts-wrapper h1 {
  font-size: 2em;
  text-align: center;
}

.facts-wrapper h2 {
  padding-top: 10px;
  font-size: 1.2em;
}

.facts-wrapper img {
  width: 48px;
  height: 48px;
}

.facts-first--row,
.facts-second--row {
  margin-top: 65px;
}

.facts-wrapper p {
  width: 80%;
  padding-top: 15px;
}

.fa-heart {
  color: #cd2e26;
}

.fa-ruler-vertical {
  color: #bf6e2c;
}

.fa-question-circle {
  color: #a6a552;
}

/*--------------------GALLERY SECTION-------------------*/

.gallery-wrapper h1 {
  font-size: 2em;
  text-align: center;
}

.gallery-wrapper img {
  max-width: 100%;
  max-height: 100%;
 opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gallery-wrapper img:hover {
		opacity: .85;
        
}

.gallery-wrapper.row {
  margin-top: 50px;
}

/*----------------------NEWSLETTER SECTION---------------*/
.newsletter-wrapper {
  text-align: center;
  height: auto;
  background-color: #96abb0;
  padding: 4%;
  margin-top: 100px;
  color: #fff;
}

.newsletter-wrapper h1 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.newsletter-wrapper p {
  padding-bottom: 15px;
}

.newsletter-wrapper input {
  width: 50%;
  height: 40px;
}

/*--------------------------------------HOMEPAGE STYLING END-----------------------------*/



/*--------------------------------------ABOUT US PAGE STYLING START-----------------------------*/

.about-us-parallax i {
    padding-bottom: 4%;
}

.about-us-parallax h2 {
    font-size: 125%;
}

.parallax-one {
    background: url("../assets/images/our-story-parallax.png") no-repeat fixed center;
    background-size: cover;
    height: 80vh;
}

.parallax-two {
 background: url("../assets/images/our-mission-parallax.png") no-repeat fixed center;
    background-size: cover;
    height: 80vh;
}

.parallax-three {
 background: url("../assets/images/our-team-parallax.png") no-repeat fixed center;
    background-size: cover;
    height: 80vh;
}


.our-story--section {
    text-align: center;
    background: #46433E;
    color: #fff;
    padding: 100px 20%;
}

.our-mission--section {
    text-align: center;
    background: #B36B39;
    color: #fff;
    padding: 100px 20%;
}

.our-team--section {
  text-align: center;
    background: #807F3C;
    color: #fff;
    padding: 100px 20%;
}








/*--------------------------------------ABOUT US PAGE STYLING END-----------------------------*/


/*--------------------MEDIA QUERY-------------------*/

@media only screen and (max-width: 400px) {
  .service--wrapper .fa-4x {
    font-size: 3em;
  }

  .service--wrapper img {
    height: 48px;
  }

  .service--wrapper i {
    font-size: 48px;
  }

  .header--part--two img {
    max-width: 120%;
    left: 0;
    right: 25px;
  }

  .gallery-wrapper img:nth-child(11),
  .gallery-wrapper img:nth-child(10) {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .form-inline {
    display: inline-block !important;
  }

  .header--part--one .button--secondary {
    display: none;
  }

  .navbar {
    background-color: #96abb0;
    border-bottom: 3px white solid;
    position: sticky;
    top: 0;
  }

  .navbar-brand {
    padding-bottom: 0;
  }

  .navbar-brand img {
    height: 90px;
  }

  .navbar-collapse.collapse.show {
    background-color: #96abb0;
    height: 100vh;
    text-align: center;
    padding: 120px 20px 0 20px;
  }

  .nav-link {
    font-size: 135%;
  }

  .nav-link:hover {
    color: #fff;
  }

  .social-icons--mobile {
    display: block;
  }

  .social-icons--mobile i {
    padding: 25px;
    color: #fff;
    margin: 0 auto;
  }

  .social-icons--mobile i:hover {
    color: #b36b39;
  }

  .hide--item--col--lg {
    display: block;
  }

    .dropdown-menu.show {
        text-align: center;
        background: none;
        border: none;
    }

    .dropdown-item {
        color: #fff;
        font-size: 110%;
    }

    .dropdown-item:hover {
    background-color: transparent;
    color: #fff;
}

  .button--secondary {
    padding: 15px 30px;
  }

  .header--part--one {
    margin-top: 60px;
    text-align: center;
  }

  .header--title {
    font-size: 2rem !important;
    padding-top: 25px;
  }

  .header--intro {
    font-size: 1.25em !important;
  }

  .facts-second--row {
    margin-top: 15px;
  }

  .padding-around {
    padding: 20px;
  }

  .newsletter-wrapper input {
    width: 60%;
    height: 35px;
  }

  .newsletter-btn {
    padding: 9px 15px;
  }

  .newsletter-wrapper h1 {
    margin-top: 15px;
  }

  .newsletter-wrapper p {
    font-size: 90%;
  }

  .footer-wrapper {
      text-align: center;
  }

  .horizontal-rule--small {
      margin: 5px auto 25px auto;
    
  }

  .story-footer--container {
      margin-top: 5%;
  }

.icons-wrapper ul {
    text-align: center;
    margin-top: 3%;
}


}

@media only screen and (max-width: 695px) {
  .form-inline {
    display: none;
  }

  .button--primary {
    margin-right: 30px;
  }

.services-cta {
    margin-right: 0;
}
  .facts-wrapper {
    text-align: -webkit-center;
  }
}

@media only screen and (min-width: 696px) {
  .header--part--one .button--secondary {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-link:hover::before {
    color: #000;
    visibility: hidden;
    transform: scaleX(1);
  }

  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar-brand {
    margin-left: 16px;
  }

  .navbar-toggler {
    margin-right: 16px;
  }

  .header--part--one.offset-1 {
    margin-left: 0;
  }

  .header--part--one .btn {
    margin-top: 25px;
  }

  .header--part--one {
    text-align: center;
  }

  .header--part--two img {
      top: 30px;
  }

  .gallery-wrapper img {
    width: 150px !important;
    height: 300px !important;
  }

  .service-footer--container {
      margin-top: 5%;
  }
}

@media only screen and (max-width: 992px) {
  .service--box--one {
    margin-bottom: 30px;
  }

  .service--box--one,
  .service--box--two,
  .service--box--three {
    padding: 40px;
    margin-bottom: 20px;
  }

.footer-wrapper {
    padding: 50px 10px;
    font-size: calc(100% - 1px);

}



@media only screen and (max-width: 1100px) {
  .button--secondary,
  .button--primary {
    padding: 5px 20px;
  }

  .services-cta {
      padding: 10px 25px;
  }

  .header--part--one {
    margin-top: 50px;
  }

  .header--title {
    font-size: 2.25rem;
  }
  .header--intro {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1350px) {
  .gallery-wrapper img {
    width: 250px;
    height: 450px;
  }
}
